@defer (when standAlon) {
<c-row class="mb-3">
    <c-nav class="hstack gap">
        @if (toReturn) {
        <c-nav-item class="p-2">
            <button cButton color="secondary" [routerLink]="returnUrl" (click)="item = undefined">Return</button>
        </c-nav-item>
        }
        <c-nav-item class="p-2 ms-auto">
            <button cButton color="secondary" variant="outline" routerLink="/customer" (click)="item = undefined">Cancel</button>
        </c-nav-item>
        <c-nav-item class="p-2">
            <button cButton color="primary" (click)="create()">
                @if (sending) {
                <c-spinner aria-hidden="true" size="sm"></c-spinner>
                } @else {
                <svg cIcon name="cilPlus"></svg>
                }
                Create
            </button>
        </c-nav-item>
    </c-nav>
</c-row>
}

<c-card class="mb-3">
    <c-card-body>
        <c-row class="g-3">
            <c-col sm="4">
                <label cLabel for="firstname">Firstname</label>
                <input cFormControl id="firstname" type="text" placeholder="Firstname" [(ngModel)]="item.firstname" name="firstname" [valid]="validator.firstname.valid" (blur)="validator.firstname.validate()"/>
                <c-form-feedback [valid]="false">{{ validator.firstname.message }}</c-form-feedback>
            </c-col>
            <c-col sm="4">
                <label cLabel for="lastname">Lastname</label>
                <input cFormControl id="lastname" type="text" placeholder="Lastname" [(ngModel)]="item.lastname" name="lastname" [valid]="validator.lastname.valid" (blur)="validator.lastname.validate()"/>
                <c-form-feedback [valid]="false">{{ validator.lastname.message }}</c-form-feedback>
            </c-col>
            <c-col sm="4">
                <label cLabel for="email">Email</label>
                <input cFormControl id="email" type="text" placeholder="Email" [(ngModel)]="item.email" name="email" [valid]="validator.email.valid" (blur)="validator.email.validate()"/>
                <c-form-feedback [valid]="false">{{ validator.email.message }}</c-form-feedback>
            </c-col>
            <c-col sm="4">
                <label cLabel for="phone">Phone</label>
                <input cFormControl id="phone" type="text" placeholder="Phone" [(ngModel)]="item.phone" name="phone" [valid]="validator.phone.valid" (blur)="validator.phone.validate()"/>
                <c-form-feedback [valid]="false">{{ validator.phone.message }}</c-form-feedback>
            </c-col>
        </c-row>
    </c-card-body>
</c-card>

