.denied-container {
  text-align: center;
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background: rgb(216, 216, 216);
  color: rgb(29, 29, 29);

  > h1 {
    border-bottom: 2px solid #000;
    padding-inline: 40px;
    padding-bottom: 10px;
    margin-bottom: 14px;
  }
}

a {
  color: #181818;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
